#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: '{branch}-{build}'

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2017

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: x64

# set clone depth
clone_depth: 1

# clone directory
clone_folder: c:\projects\rpcpp_plugins

# scripts that are called at very beginning, before repo cloning
init:
- ps: >-
    if (Test-Path env:TRIGGER_NAME) {
      Update-AppveyorBuild -Message "Build from $env:TRIGGER_COMMIT in $env:TRIGGER_NAME"
    } else {
      Set-AppveyorBuildVariable -Name 'TRIGGER_NAME' -Value "$env:APPVEYOR_PROJECT_NAME"
      Set-AppveyorBuildVariable -Name 'TRIGGER_COMMIT' -Value "$env:APPVEYOR_REPO_COMMIT".substring(0, 8)
    }
- ps: git --version
- ps: cmake --version

# environment variables
environment:
    CMAKE_PREFIX_PATH: C:\projects\_install;C:\projects\_cache;
    BOOST_ROOT: C:\Libraries\boost_1_64_0

# scripts that run after cloning repository
install:
- ps: (mkdir C:\projects\_install) -and (pushd C:\projects\_install)
- ps: Start-FileDownload 'https://ci.appveyor.com/api/projects/bluekyu/panda3d/artifacts/panda3d.zip?branch=develop'
- ps: 7z x panda3d.zip -opanda3d
- ps: Start-FileDownload 'https://ci.appveyor.com/api/projects/bluekyu/render-pipeline-cpp/artifacts/render_pipeline_cpp.zip?branch=master'
- ps: 7z x render_pipeline_cpp.zip -orender_pipeline_cpp
- ps: Start-FileDownload 'https://ci.appveyor.com/api/projects/bluekyu/rpcpp-plugins/artifacts/rpcpp_plugins.zip?branch=master'
- ps: 7z x rpcpp_plugins.zip -orpcpp_plugins
- ps: popd

# build cache to preserve files/folders between builds
cache:
    - C:\projects\_cache

#---------------------------------#
#       build configuration       #
#---------------------------------#

# to run your custom scripts instead of automatic MSBuild
build_script:
- ps: (mkdir _build) -and (pushd _build)
- ps: >-
    cmake -G "Visual Studio 15 2017 Win64" -Wno-dev
    -DCMAKE_INSTALL_PREFIX="C:/projects/rpcpp_samples/_artifacts"
    -DBoost_USE_STATIC_LIBS:BOOL=ON
    -Dpanda3d_ROOT:PATH="C:/projects/_install/panda3d"
    -Drpcpp_samples_BUILD_panda3d_samples:BOOL=ON
    -Drpcpp_samples_BUILD_render_pipeline_samples:BOOL=ON
    ..
- ps: cmake --build . --config "Release" --target INSTALL
- ps: >-
    cmake -G "Visual Studio 15 2017 Win64" -Wno-dev
    -DCMAKE_INSTALL_PREFIX="C:/projects/_install/render_pipeline_cpp"
    ..
- ps: cmake --build . --config "Release" --target INSTALL
- ps: popd

#---------------------------------#
#       tests configuration       #
#---------------------------------#

# to disable automatic tests
test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
- path: _artifacts
  name: rpcpp_samples
